* {
	font-size: 9pt !important;
}

table {
	border-collapse: collapse;
}

table, thead, td {
	border: 1px solid #999;
	border-width: 1px 0;
}

/* don't lock header row */
table.scrollable thead tr {
	position: relative !important;
}

td[colspan='16'] {
	display: none;
}

th {
	background-color: #eee;
}
th b {
	font-weight: normal;
}