/*
table {
	border: 0;
}

td {
	border: 1px solid #ddd;
	border-width: 1px 0;
	text-align: left;	
}

td[bgcolor="yellow"] {
	background: white;
	font-size: 1.25em;
	padding-top: 2em;
	border: 0;
	font-weight: bold;
}

td[bgcolor="#C0C0C0"] {
	background-color: white;
}

tr:hover {
	background-color: #ffd;
}
*/