
body {
	background-color: white;
}

div#tabs {
	margin-bottom: 10px;
}

button {
	border: 1px solid #aaa;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	background-color: white;
}
	button.active {
		background-color: #666;
		color: white;
	}

/* move help/recalc/save buttons to top right */
td[rowspan="2"] {
	position: fixed;
	right: 0;
	top: 0;
}

img {
	cursor: pointer;
	padding: 5px;
}