
body {
	background-color: #c1f6ff;
}

/* hide word 'MENU' */
body table:first-of-type + table {
	display: none;
}

td {	
	font-size: 10pt !important;
}

a {
	text-decoration: none;
}

a:hover {
	background-color: #ccc;
}

/* remove 'Hide menu' */
table:first-of-type {
	display: none;
}

/* big headings for collapsible sections*/
div#menutab1 {
	cursor: pointer;
	background-color: #888;
	color: #eee;
	padding: 2px 5px 5px 5px;
	margin: 2px 0;
}
div#menutab1:hover {
	color: yellow;
	background-color: #666;
}
	div#menutab1 a {
		display: none;
	}

ul#saved {
	font-family: sans-serif;
	font-size: 10pt;
	padding: 0;
	list-style-type: none;
}
	ul#saved li {
		margin: 1.5em 0.5em 0.2em 0.5em;
	}
	ul#saved li.courselink {
		cursor: pointer;
		color: blue;
		margin: 0.2em 0.5em;
	}
	ul#saved li.courselink:hover {
		background-color: #ccc !important;
	}
