
body {
	background-color: #ddd;
}

a {
	text-transform: lowercase;
}

/* replace 'show menu' checkbox */
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + span {
	background-color: #eee;
	cursor: pointer;
	padding: 3px 5px;
	font-size: 8pt !important;
	color: black;
}

